/* Photo by Mark Solarski on Unsplash   records/headphones */

/* Photo by Daniel Gzz on Unsplash  concert */

html, body {
    height: 100%;
}

.content:before {

    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('../images/daniel-gzz-ELC0hD4AwB0-unsplash.jpg');
    background-size:cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);

}

.navbar {
  opacity: .8;
}

section, strong {
    color: rgb(177, 177, 177);
}

footer {
    font-size: .8em;
}

.container {
    flex: 1 0 auto;
}

hr {
  border: 1px solid white;

}

.swal-modal {
  background-color: rgba(70, 70, 70, 0.95);

}

.swal-title, .swal-text {
    color: white;
}

.swal-overlay {
  background-color: rgba(160, 10, 10, 0.199);
}

#page-content {
  flex: 1 0 auto;
}

#artistPost{
  column-count: 5;
  column-gap: 1em;
}

p {
    border: 1px solid black;
    border-radius: .5em;
    border-bottom: .5em solid #e49c32;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    page-break-inside: avoid;
    background-color: #22201d9c;
    box-shadow: 9px 20px 10px rgba(177, 177, 177, 0.329);
    page-break-inside: avoid;
}

a {
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
    color: #e49c32;
}

.favorite {
    right: 0;
    cursor: pointer;
    border-bottom-left-radius: .5em;
    color: #e49c32;
    padding: .5em;
}

iframe {
    margin-left: 6%;
}

@media only screen and (max-width: 1199px) {
    iframe {
        margin-left: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .col-4 {
        margin-left: 20%;
    }
    iframe {
        width: 200%;
        height: 100%;
    }
}